html {overflow-y: scroll}
body{max-width:800px;margin:40px auto;padding:0 10px;font:14px/1.5 monospace;}
h1,h2,h3{line-height:1.2}
p > code{padding:2px}
pre{padding:24px; overflow-x: auto}
article{padding:24px 0}
.center {display: block;margin-left: auto;margin-right: auto;width: 100%;}
img {display: block; max-width: 100%; height: auto;}
figcaption {font: 12px/1.5 monospace; text-align: center;}
figure {margin: auto}
